.cart__item {
	--gap: 0;
	align-items: center;
	margin-bottom: 1.5rem;

	& > :nth-child(2) {
		width: 6rem;
	}

	& > :nth-child(3) {
		--gap: 0.75rem;
		width: 6rem;
		height: 2rem;
		padding-inline: 0.75rem;
		margin-left: auto;
		align-items: center;
		background-color: var(--clr-primary-300);

		input {
			font-size: 0.8125rem;
			line-height: 18px;
			letter-spacing: 1px;
		}

		svg {
			cursor: pointer;
			width: 1rem;
			aspect-ratio: 1;
			opacity: 0.25;
		}
	}
}

.order {
	&-image {
		width: 4rem;
		height: 4rem;
		margin-right: 1rem;
		border-radius: 0.5rem;
		overflow: hidden;
	}

	&-name {
		color: var(--clr-neutral-300);
		font-weight: 700;
	}

	&-price {
		font-size: 0.875rem;
		line-height: 25px;
		font-weight: 700;
		color: var(--clr-neutral-300);
		opacity: 0.5;
	}

	&-quantity {
		font-weight: var(--fw-700);
		color: var(--clr-neutral-300);
		opacity: 0.5;
	}

	&-remaining {
		cursor: pointer;
		text-align: center;
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: var(--fw-700);
		color: var(--clr-neutral-300);
		opacity: 0.5;
	}
}
