@use '../../sass/abstract' as *;

.header {
	background-color: #0e0e0e;

	&--background {
		background-image: url('../../assets/home/desktop/image-hero.jpg');
		background-repeat: no-repeat;

		@include mq(tablet) {
			background-image: url('../../assets/home/tablet/image-header.jpg');
			background-position: center;
			background-size: cover;
		}

		@include mq(mobile) {
			background-image: url('../../assets/home/mobile/image-header.jpg');
		}
	}

	&__navbar {
		position: relative;
		align-items: center;
		justify-content: space-between;
		padding-block: 2rem 2.25rem;
		border-bottom: 1px solid hsl(0 0% 100% / 0.2);
		z-index: 20;

		.menu-burger {
			cursor: pointer;
			display: none;
			align-self: center;

			@include mq(tablet) {
				display: block;
			}
		}

		@include mq(tablet) {
			--gap: 1.625rem;
			justify-content: flex-start;

			nav {
				display: none;
			}

			& > :nth-child(4) {
				margin-left: auto;
			}
		}

		@include mq(mobile) {
			justify-content: space-between;

			.menu-burger {
				margin-right: 0;
			}

			& > :nth-child(4) {
				margin-left: 0;
			}
		}
	}

	&__nav {
		--gap: 2.125rem;
		align-items: center;

		a {
			color: var(--clr-neutral-100);
			font-size: 0.8125rem;
			line-height: 25px;
			letter-spacing: var(--letter-spacing-500);
			text-transform: uppercase;

			&:is(:hover, :focus-within) {
				color: var(--clr-primary-400);
			}
		}
	}
}

.icon-wrapper {
	position: relative;
}

.cart {
	&-icon {
		cursor: pointer;
	}

	&-basket {
		position: absolute;
		top: -6px;
		right: -5px;
		width: 16px;
		height: 16px;
		display: grid;
		place-items: center;
		font-size: 0.6rem;
		font-weight: 700;
		color: #fff;
		background-color: var(--clr-primary-400);
		border-radius: 50%;
	}
}
