.product {
	&-item {
		--gap: 7.8125rem;

		> * {
			flex: 1;
		}

		img {
			border-radius: 0.5rem;
		}
	}

	&-action {
		--gap: 1rem;
		margin-top: 3rem;

		& > :nth-child(1) {
			position: relative;
			width: 7.5rem;
			height: 3rem;
			background-color: var(--clr-primary-300);

			& > .icon {
				cursor: pointer;
				position: absolute;
				width: 1rem;
				aspect-ratio: 1;
				opacity: 0.25;

				&:nth-of-type(1) {
					top: 50%;
					left: 10%;
					translate: -10% -50%;
				}

				&:nth-of-type(2) {
					top: 50%;
					right: 10%;
					translate: -10% -50%;
				}
			}
		}

		input[type='number'] {
			width: 100%;
			text-align: center;
			font-weight: 700;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}

	&-intro {
		max-width: 27.8125rem;
		margin-block: auto;

		span {
			display: block;
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 19px;
			letter-spacing: 10px;
			text-transform: uppercase;
			margin-bottom: 1rem;
			color: var(--clr-primary-400);
		}

		h2 {
			max-width: 15ch;
		}

		p {
			margin-block: 2rem 2.5rem;
			color: var(--clr-neutral-300);
		}
	}
}

.flex-reverse {
	flex-direction: row-reverse;
}
