.overline {
	font-size: 0.875rem;
	line-height: 19px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.subtitle {
	font-size: 0.8125rem;
	line-height: 25px;
	font-weight: var(--fw-700);
	color: var(--clr-primary-400);
	text-transform: uppercase;
	letter-spacing: 0.93px;
}
