@use '../../sass/abstract' as *;

section#checkout {
	margin-block: 5rem 8.75rem;

	@include mq(tablet) {
		margin-block: 3rem 7.25rem;
	}

	@include mq(mobile) {
		margin-block: 1rem 6rem;
	}

	.checkout-container {
		--gap: 1.875rem;
		grid-template-columns: 2.125fr 1fr;
		margin-top: 2.375rem;

		@include mq(tablet) {
			--gap: 2rem;
			grid-template-columns: 1fr;
			margin-top: 1.5rem;
		}
	}
}
