@use '../../sass/abstract' as *;

section#product {
	margin-top: 5rem;

	@include mq(tablet) {
		margin-top: 2.0625rem;
	}

	@include mq(mobile) {
		margin-top: 1rem;
	}

	.product {
		&-container {
			--gap: 0;
			grid-template-columns: 1fr;

			a:not(.btn) {
				font-size: 0.9375rem;
				line-height: 25px;
				font-weight: var(--fw-500);
				text-transform: capitalize;
				margin-bottom: 3.5rem;
			}

			@include mq(tablet) {
				.product-item {
					--gap: 4rem;
				}

				a:not(.btn) {
					margin-bottom: 1.5rem;
				}
			}

			@include mq(mobile) {
				.product-item {
					flex-direction: column;

					& > :nth-child(1) {
						img {
							width: 100%;
							aspect-ratio: 1 / 1;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
