@use '../../sass/abstract' as *;

section#products {
	margin-top: 10rem;
	margin-bottom: 18rem;

	@include mq(tablet) {
		margin-top: 7.5rem;
		margin-bottom: 12rem;
	}

	@include mq(mobile) {
		margin-top: 4rem;
	}

	.products {
		&-container {
			grid-template-columns: 1fr;
			row-gap: 10rem;

			@include mq(tablet) {
				row-gap: 7.5rem;

				.product-item {
					--gap: 3.25rem;
					flex-direction: column;
					align-items: center;
				}

				.product-intro {
					max-width: 100%;
					padding-inline: 3.75rem;
					text-align: center;

					& > * {
						margin-inline: auto;
					}
				}
			}

			@include mq(mobile) {
				.product-intro {
					padding: 0;
				}
			}
		}
	}
}
