@use 'reset';
@use 'abstract';
@use 'typography';
@use 'root';
@use 'utils';

body {
	font-family: 'Manrope';
	background-color: #ffffff;
	position: relative;
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;

	> * {
		margin-bottom: 2rem;
	}
}

.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
